:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --primary-color: #008de4;
  --primary-color-2: #008de40f;
  --secondary-color: #89a0ae;
  --secondary-color-2: #d5dee4;
  --secondary-text: #0f4160;

  background: linear-gradient(0deg, #ecf0f5, #ecf0f5),
    radial-gradient(
      48.79% 78.46% at -19.73% -16.75%,
      rgba(0, 141, 228, 0.4) 0%,
      rgba(0, 141, 228, 0) 100%
    ),
    radial-gradient(
      49.31% 133.28% at 99.31% 99.29%,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 100%
    );

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 12px 16px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--primary-color);
  border: none;
  color: #fff;
  font-weight: 700;
  align-self: flex-start;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
